<div class="text-center">
    <br>
    <h2>¡Gracias {{this.client.firstName}}!</h2>

    Tu pedido a <b> {{this.provider.name}} </b> se está preprando.
    <br>
    <br>
    <b>Menú:</b> {{this.menuOrder.menu.name}}
    <br>
    <b>Cantidad:</b> {{this.menuOrder.quantity}}
    <br>
    <b>Tipo:</b> {{this.menuOrder.deliveryType}}
    <br><br>
    Recibirás un mail a <b>{{this.client.mail}}</b> con más información.


    <br><br><br><br>

    <h4>Te pedimos por favor que valores este menú</h4>

    <star-rating value="3" totalstars="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false"
        (rate)="onRate($event)"></star-rating>
    <i>No podrás comprar otro menú si tenés puntuaciones pendientes</i>

</div>