<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>logo</th>
        <th>locality</th>
        <th>address</th>
        <th>description</th>
        <th>site</th>
        <th>mail</th>
        <th>phone</th>
        <th>attentionTimeBegin</th>
        <th>attentionTimeEnd</th>
        <th>attentionDayBegin</th>
        <th>attentionDayEnd</th>
        <th>deliveryLocalities</th>
        <th>menus</th>
        <th>credit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providers">

        <td> {{ provider.id }} </td>
        <td> {{ provider.name }} </td>
        <td> {{ provider.logo }} </td>
        <td> {{ provider.locality }} </td>
        <td> {{ provider.address }} </td>
        <td> {{ provider.description }} </td>
        <td> {{ provider.site }} </td>
        <td> {{ provider.mail }} </td>
        <td> {{ provider.phone }} </td>
        <td> {{ provider.attentionTimeBegin }} </td>
        <td> {{ provider.attentionTimeEnd }} </td>
        <td> {{ provider.attentionDayBegin }} </td>
        <td> {{ provider.attentionDayEnd }} </td>
        <td> {{ provider.deliveryLocalities }} </td>
        <td> {{ provider.menus }} </td>
        <td> {{ provider.credit }} </td>
      </tr>
    </tbody>
  </table>