<h2 mat-dialog-title>Registros para cliente</h2>

<script src="https://cdn.auth0.com/js/auth0/9.11/auth0.min.js"></script>
<script type="text/javascript">
  // Initialize app
  var webAuth = new auth0.WebAuth({
    domain:       'esthebam.auth0.com',
    clientID:     '1bzI6ingMiNp4n9Z9l3qBBVfjcEGB5Aa'
  });

  // Trigger login with google
  webAuth.authorize({
    mode: 'login'
  });
</script>


<mat-dialog-actions>
        <button mat-button (click)="googleSignUp()">Google</button>
        <button mat-button (click)="otherSignUp()">Cuenta ViandasYa</button>
</mat-dialog-actions>