<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="providers" class="nav-link" routerLinkActive="active">Lista de proveedores</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Agregar proveedor</a>
    </li>

    </ul>
</nav>
  
  
  <div class="container">
    <br>
    
    <h2 
    style="text-align: center; color:#ed2d43">
    <img src="./../assets/viandasYagif.gif" width="70"> {{title}}
    </h2>
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>