<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="./../assets/viandasYa.png" width="30" height="30" class="d-inline-block align-top" alt="">
    ViandasYa
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a routerLink="providers" *ngIf="isProvider()" class="nav-link"
          routerLinkActive="active">{{ 'ListaDeProveedores' | translate }}</a>
      </li>

      <li class="nav-item">
        <a routerLink="menus/page/0" *ngIf="isClient()" class="nav-link"
          routerLinkActive="active">{{ 'ListaDeMenus' | translate }}</a>
      </li>

      <li class="nav-item">
        <a routerLink="addMenu" *ngIf="isProvider()" class="nav-link"
          routerLinkActive="active">{{ 'AgregarMenu' | translate }}</a>
      </li>

    </ul>

    <button *ngIf="!isClient() && !isProvider()" mat-button (click)="modal.openDialogProvider()">Login proveedor</button>
    <button *ngIf="!isClient() && !isProvider()" mat-button (click)="modal.openDialogClient()">Login cliente</button>

    <button *ngIf="isClient()" mat-button (click)="modal.openDialogProvider()">Saldo: {{client.credit | currency: getCurrency():'symbol':getCurrencyFormat():getLanguage()}}</button>
    <button *ngIf="isProvider()" mat-button (click)="modal.openDialogClient()">Saldo: {{provider.credit | currency: getCurrency():'symbol':getCurrencyFormat():getLanguage()}}</button>

    <li class="nav-item dropdown" style="list-style-type: none;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-globe"></i></a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" (click)="setLanguage('es')" style="cursor: pointer;">{{ 'Espaniol' | translate }}</a>
        <a class="dropdown-item" (click)="setLanguage('en')" style="cursor: pointer;">{{ 'Ingles' | translate }}</a>
      </div>
    </li>

    <li class="nav-item dropdown" style="list-style-type: none;">
      <a class="nav-link dropdown-toggle" *ngIf="isClient()" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">{{client.firstName}}</a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" (click)="miPerfil()" style="cursor: pointer;">Mi perfil</a>
        <a class="dropdown-item" (click)="misPedidos()" style="cursor: pointer;">Mis pedidos</a>
      </div>
    </li>

    <li class="nav-item dropdown" style="list-style-type: none;">
      <a class="nav-link dropdown-toggle" *ngIf="isProvider()" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="cursor: pointer;">{{provider.name}}</a>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" (click)="miPerfilProveedor()" style="cursor: pointer;">Mi perfil</a>
        <a class="dropdown-item" (click)="misVentas()" style="cursor: pointer;">Mis ventas</a>
      </div>
    </li>

    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0" *ngIf="isClient() || isProvider()" mat-button
        (click)="logout()">Logout</button>
    </form>

  </div>
</nav>