<h3>{{ 'NuevoProveedor' | translate }}</h3>

<div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">{{ 'Nombre' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="provider.name" name="name">
      <mat-google-maps-autocomplete 
        (onAutocompleteSelected)="onAutocompleteSelected($event)">
      </mat-google-maps-autocomplete>
    </div>
    <button type="submit" class="btn btn-success">{{ 'Crear' | translate }}</button>
  </form>
</div>