<h3>{{ 'ActualizarProveedor' | translate }}</h3>
<div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">{{ 'Nombre' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="provider.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">{{ 'Localidad' | translate }}</label>
      <input type="text" class="form-control" id="locality" required [(ngModel)]="provider.locality" name="locality">
    </div>

    <div class="form-group">
      <label for="name">{{ 'Direccion' | translate }}</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="provider.address" name="mail">
    </div>

    <button type="submit" class="btn btn-success">{{ 'Actualizar' | translate }}</button>
  </form>
</div>