<h3>Actualizar proveedor</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="provider.name" name="name">
    </div>

    <div class="form-group">
      <label for="name">Localidad</label>
      <input type="text" class="form-control" id="locality" required [(ngModel)]="provider.locality" name="locality">
    </div>

    <div class="form-group">
      <label for="name">Dirección</label>
      <input type="text" class="form-control" id="mail" required [(ngModel)]="provider.mail" name="mail">
    </div>

    <button type="submit" class="btn btn-success">Actualizar</button>
  </form>
</div>