.menu-container {
    display: flex;
    flex-direction: column;
  }
  
  .menu-container > * {
    width: 100%;
  }
  
  .menu-header-image {
    background-image: url('../../../assets/menu-header.jpeg');
    background-size: cover;
  }

  