<h2>{{ 'DetallesDeProveedor' | translate }}</h2> 

<hr/>
<div *ngIf="provider">
  <div>
    <label><b>{{ 'Nombre' | translate }}: </b></label> {{provider.name}}
  </div>
  <div>
    <label><b>{{ 'Localidad' | translate }}: </b></label> {{provider.locality}}
  </div>
  <div>
    <label><b>{{ 'Direccion' | translate }}: </b></label> {{provider.address}}
  </div>  
</div>

<h5>Direccion: {{address}}</h5>
<div>Latitud: {{location.lat}}</div>
<div>Longitud: {{location.lng}}</div>


<agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
  <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>
</agm-map>


<br>
<br>
<button (click)="list()" class="btn btn-primary">{{ 'VolverALaListaDeProveedores' | translate }}</button><br>