<div class="panel panel-primary">
    <div class="panel-body">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table">
        <thead>
          <tr>
            <th>{{ 'Nombre' | translate }}</th>
            <th>{{ 'Localidad' | translate }}</th>
            <th>{{ 'Direccion' | translate }}</th>
            <th>{{ 'Descripcion' | translate }}</th>
            <th>{{ 'SitioWeb' | translate }}</th>
            <th>{{ 'Email' | translate }}</th>
            <th>{{ 'Telefono' | translate }}</th>
            <th>{{ 'Credito' | translate }}</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let provider of providers;">
            <td><a (click)="updateProvider(provider.id)" title="Actualizar proveedor" style="cursor: pointer; color: blue;">{{provider.name}}</a></td>
            <td>{{provider.locality}}</td>
            <td>{{provider.address}}</td>
            <td>{{provider.description}}</td>
            <td>{{provider.site}}</td>
            <td>{{provider.mail}}</td>
            <td>{{provider.phone}}</td>
            <td>{{provider.credit}}<a (click)="providerCredit(provider.id)" title="Cargar crédito" style="cursor: pointer; margin-left: 10px;"><i class="fas fa-plus-circle"></i></a></td>
            <td>
              <div class="row">
                <h6><a title="{{ 'DetallesDeProveedor' | translate }}" style="cursor: pointer; margin-right: 10px;" (click)="providerDetails(provider.id)"><i class="fas fa-info"></i></a></h6>
                <h6><a title="{{ 'ListaDeMenusDelProveedor' | translate }}" style="cursor: pointer; margin-right: 10px;" (click)="providerMenus(provider.id)"><i class="fas fa-th-list"></i></a></h6>
                <h6><a title="{{ 'EliminarProveedor' | translate }}" style="cursor: pointer; margin-right: 10px;" (click)="deleteProvider(provider.id)"><i class="fas fa-trash-alt"></i></a></h6>
                <h6><a title="{{ 'Comprar' | translate }}" style="cursor: pointer; margin-right: 10px;" (click)="purchase(provider.id)"><i class="fas fa-shopping-cart"></i></a></h6>
              </div>
            </td>
          </tr>
        </tbody>
      </table>



    </div>
  </div>