<form #clientSignUpForm="ngForm">
    <mat-card>

        <mat-card-header>
            <div mat-card-avatar class="client-header-image"></div>
            <mat-card-title>Registrarme como cliente</mat-card-title>
            <mat-card-subtitle>Espacio dedicado para el registro de un cliente</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="client-signUp">
                <mat-form-field>
                    <input matInput placeholder="Nombre" type="text" required [(ngModel)]="client.firstName"
                        name="firstName" #firstName="ngModel">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Apellido" type="text" required [(ngModel)]="client.lastName"
                        name="lastName" #lastName="ngModel">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Email" type="email" required [(ngModel)]="client.mail" name="mail"
                        #mail="ngModel">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Contraseña" type="password" required [(ngModel)]="client.password"
                        name="password" #password="ngModel">
                </mat-form-field>

                <mat-form-field>
                    <ngx-mat-intl-tel-input placeholder="Teléfono" [formControl]="phone" [(ngModel)]="client.phone"
                        name="phone" [preferredCountries]="['ar']" [enablePlaceholder]="true" [enableSearch]="true">
                    </ngx-mat-intl-tel-input>
                    <mat-error *ngIf="phone.invalid">{{getPhoneErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Localidad" type="text" required [(ngModel)]="client.locality"
                        name="locality" #locality="ngModel">
                </mat-form-field>

                <mat-google-maps-autocomplete (onAutocompleteSelected)="onAutocompleteSelected($event)">
                </mat-google-maps-autocomplete>


            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="signUpClient()"
                [disabled]="!clientSignUpForm.form.valid || !camposValidos()">Registrarse</button>
        </mat-card-actions>

    </mat-card>
</form>